In [1]:
import numpy as np
import pandas as pd

excel_file = pd.ExcelFile('study.xlsx')

# 获取指定工作表中的数据
df = excel_file.parse('Sheet1')

df.head()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98

In [2]:
# 查看每列缺失值数量
missing_values = df.isnull().sum()
print("缺失值统计：\n", missing_values)

缺失值统计：
 student_id                       0
age                              0
gender                           0
major                            0
study_hours_per_day              0
social_media_hours               0
netflix_hours                    0
part_time_job                    0
attendance_percentage            0
sleep_hours                      0
diet_quality                     0
exercise_frequency               0
parental_education_level         0
internet_quality                 0
mental_health_rating             0
extracurricular_participation    0
previous_gpa                     0
semester                         0
stress_level                     0
dropout_risk                     0
social_activity                  0
screen_time                      0
study_environment                0
access_to_tutoring               0
family_income_range              0
parental_support_level           0
motivation_level                 0
exam_anxiety_score               0
learning_style                   0
time_management_score            0
exam_score                       0
dtype: int64

In [3]:
# 删除包含缺失值的行
df_dropna = df.dropna()

# 删除全部为缺失值的列
df_dropna_col = df.dropna(axis=1, how='all')

In [4]:
# 提取数值型列
numeric_columns = df.select_dtypes(include=[np.number]).columns

# 计算每个数值型列的均值和标准差
means = df[numeric_columns].mean()
stds = df[numeric_columns].std()

# 定义 Z-Score 阈值
z_score_threshold = 3

# 识别异常值
outliers = {}
for col in numeric_columns:
    z_scores = np.abs((df[col] - means[col]) / stds[col])
    outliers[col] = df[z_scores > z_score_threshold][col]

# 输出异常值情况
for col, outlier_values in outliers.items():
    if not outlier_values.empty:
        print(f'列 {col} 中的异常值：')
        print(outlier_values)

# 将异常值替换为 NaN
for col in numeric_columns:
    z_scores = np.abs((df[col] - means[col]) / stds[col])
    df[col] = np.where(z_scores > z_score_threshold, np.nan, df[col])

列 study_hours_per_day 中的异常值：
214    10.275878
Name: study_hours_per_day, dtype: float64
列 previous_gpa 中的异常值：
120    2.31
141    1.99
351    1.97
423    2.09
Name: previous_gpa, dtype: float64
列 screen_time 中的异常值：
90    17.8
Name: screen_time, dtype: float64
列 exam_score 中的异常值：
82     53
141    50
315    52
351    54
403    56
423    46
Name: exam_score, dtype: int64